<!DOCTYPE html>
<html lang="en">

<head>
	<title>Recharge</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/recharge">
					<span class="login100-form-title p-b-43">
						Recharge phone number in few seconds
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" required name="public">
						<span class="focus-input100"></span>
						<span class="label-input100">Public key</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" required name="secret" data-validate="Developer secret is required">
						<span class="focus-input100"></span>
						<span class="label-input100">Secret Key</span>
					</div>

					<div class="wrap-input100 validate-input" required data-validate="phone no is/are required">
						<input class="input100" type="text" name="phone">
						<span class="focus-input100"></span>
						<span class="label-input100">Phone number to recharge</span>
					</div>
					<div class="wrap-input100 validate-input" required data-validate="amount required">
						<input class="input100" type="number" name="amount">
						<span class="focus-input100"></span>
						<span class="label-input100">Amount</span>
					</div>
					<div class="wrap-input100 validate-input" required data-validate="network required">
						<input class="input100" type="text" name="network">
						<span class="focus-input100"></span>
						<span class="label-input100">Network</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
							<div>
								Note: Your public and secret key will never be saved
							</div>
					</div>


					<div class="container-login100-form-btn">							
						<!-- <button class="login100-form-btn" data-toggle="modal" data-target="#myModal"> -->
							<button class="login100-form-btn">
							Recharge
						</button>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">Thank You !</h4>
				</div>
				<div class="modal-body text-center">
					<img src="http://osmhotels.com//assets/check-true.jpg">
					<p class="lead">Contact form successfully submitted. Thank you, We will get back to you soon!</p>
					<a href="/" class="rd_more btn btn-default">Go to Home</a>
				</div>
			</div>
		</div>
	</div> -->


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>