
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recharge</title>
    <style>
      body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  background-color: #6675df;
  padding: 40px 0;
  margin: 0 auto 20px;
}
.logo {
  width: 55px;
  height: 53px;
  margin-right: 40px;
  margin-left: 30px;
}
.logo-text {
  color: #ffffff;
  font-weight: 200;
  line-height: 1.8em;
  align-self: baseline;
}
.section {
  justify-content: center;
  text-align: center;
  margin: 0px auto 100px;
  text-align: center;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin: 15px auto 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}
.button1 a {
  color: rgba(0, 174, 255);
  border: rgba(0, 174, 255, 0.5) 2px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 20px 10px;
}
.button2 a {
  background-color: #6675df;
  color: #ffffff;
  border: #6675df 2px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 20px 10px;
}
.footer {
  display: flex;

  display: flex;
  line-height: 27px;
  color: #6675df;
  justify-content: space-between;
}
    </style>
</head>
<body>
    <section class="section">
        <div class="icon">
            <img src="/images/trans.jpg" alt="">
        </div>
        <h3>Transaction was sucessful!</h3>
        <div class="buttons">
            <div class="button1">
                <a href="/"> Go Home </a>
            </div>
        </div>
      </section>
</body>
</html>