<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Recharge</title>
  <!-- <style>
      body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  background-color: #6675df;
  padding: 40px 0;
  margin: 0 auto 20px;
}
.logo {
  width: 55px;
  height: 53px;
  margin-right: 40px;
  margin-left: 30px;
}
.logo-text {
  color: #ffffff;
  font-weight: 200;
  line-height: 1.8em;
  align-self: baseline;
}
.section {
  justify-content: center;
  text-align: center;
  margin: 0px auto 100px;
  text-align: center;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin: 15px auto 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}
.button1 a {
  color: #6675df;
  border: #6675df 2px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 20px 10px;
}
.button2 a {
  background-color: #6675df;
  color: #ffffff;
  border: #6675df 2px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 20px 10px;
}
.footer {
  display: flex;

  display: flex;
  line-height: 27px;
  color: #6675df;
  justify-content: space-between;
}
    </style> -->
</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form">
          <span class="login100-form-title p-b-43">
						Congratulations!
					</span>
        <h3>Your transaction was sucessful!</h3>
        <br><br><br>
        <div class="container-login100-form-btn">
          <a href="/"><button class="login100-form-btn"> Go Home </button></a>
        </div>
        </div>
        <div class="login100-more" style="background-image: url('images/trans.jpg');">
				</div>
      </div>
    </div>
  </div>
</body>

</html>